.bk-root > div {
    margin: auto;
}

div.figure {
    margin: 2em;
    padding: 2em;
}

p.caption {
    color: #777777;
}

.bokeh-figure {
}

.bokeh-figure p.caption {
    width: 800px;
    margin: auto;
}
